@import "tailwindcss";

/* Disables the up/down arrows to the right of the input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
}

@theme {
  --color-steel-100: oklch(0.92 0.05 240);
  --color-steel-200: oklch(0.82 0.11 240);
  --color-steel-300: oklch(0.7 0.15 240);
  --color-steel-400: oklch(0.56 0.17 240);
  --color-steel-500: oklch(0.39 0.12 240);
}
